In [37]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

df_userdata = pd.read_csv('../../assets/userdata_min_40_v4.csv')

df_userdata_min = df_userdata.drop(df_userdata.columns[0:11],axis =1 )
df_userdata_min = df_userdata_min.drop('liked_recipes',axis =1 )

df_train = df_userdata_min[:600]
df_predict = df_userdata_min[-1:]
X_df_predict = df_predict.drop('kitchen', axis = 1)
y_df_predict = df_predict['kitchen']

df_train

,kokosmelk,water,chilivlokken,gemalen kaneel,sjalot,knoflook,rode peper,zout,vastkokende aardappel,zoete aardappel,...,(arachide)olie,tomatenblokjes,zoete puntpaprika,(olijf)olie,kruimige aardappelen,magere gerookte spekreepjes,takje rozemarijn,boter,aardappelen,kitchen
0,0,0,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,frans
1,0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,frans
2,0,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,frans
3,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,1,0,frans
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,frans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0,0,0,0,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,mediterraan
596,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,mediterraan
597,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,mediterraan
598,0,0,0,0,1,1,1,0,0,0,...,0,1,0,1,0,0,0,0,0,mediterraan
599,0,0,0,1,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,0,mediterraan

In [38]:
kitchens = ['thais', 'aziatisch', 'frans', 'indonesisch', 'hollands', 'italiaans', 'mexicaans', 'amerikaans', 'mediterraan']

print(len(df_train))

for kitchen in range(len(df_train)):
    df_train['kitchen'].iloc[kitchen] = kitchens.index(df_train['kitchen'].iloc[kitchen])

600

C:\Users\Milan\AppData\Local\Temp\ipykernel_27908\2815728762.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['kitchen'].iloc[kitchen] = kitchens.index(df_train['kitchen'].iloc[kitchen])

In [39]:
y= df_train['kitchen']
X = df_train.drop('kitchen', axis = 1)

y=y.astype('int')

In [40]:
model = KNeighborsClassifier(leaf_size=1, metric='euclidean', weights='distance')
model.fit(X,y)
y_proba = model.predict(X_df_predict)
y_proba

array([1])

In [41]:
kitchen = ""

for index in y_proba:
    kitchen = kitchens[index]

print(kitchen)

aziatisch

In [42]:
df_userdata.kitchen.iloc[-1] = kitchen
df_userdata

C:\Users\Milan\AppData\Local\Temp\ipykernel_27908\1141724442.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_userdata.kitchen.iloc[-1] = kitchen

,user_id,thais,aziatisch,frans,indonesisch,hollands,italiaans,mexicaans,amerikaans,mediterraan,...,tomatenblokjes,zoete puntpaprika,(olijf)olie,kruimige aardappelen,magere gerookte spekreepjes,takje rozemarijn,boter,aardappelen,kitchen,liked_recipes
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,frans,NaN
1,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,frans,NaN
2,3,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,frans,NaN
3,4,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,frans,NaN
4,5,0,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,frans,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,597,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,mediterraan,NaN
597,598,0,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,mediterraan,NaN
598,599,0,0,0,0,0,1,0,0,1,...,1,0,1,0,0,0,0,0,mediterraan,NaN
599,600,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,0,mediterraan,NaN
600,601,1,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,aziatisch,NaN

In [43]:
df_userdata.to_csv("../../assets/userdata_min_40_v4.csv")